################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BarangKu/FileContentIndex/31d938d0-b54b-4928-aecb-d00cd8d9f1ae.vsidx
