################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BarangKu/FileContentIndex/0d54623c-993f-4f56-aa20-871d5d13ec4d.vsidx
/.vs/BarangKu/FileContentIndex/50d4922b-a755-4c8d-ab79-8331670f504e.vsidx
